
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled):hover{
// background-color: red !important;
border: 2px solid black;
}


::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    border:2px solid #aaa;
    width: 300px;
    height: 100%;
    
}

::ng-deep .mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
    color: orangered !important;
}

.country{
    color:orangered !important;
    border:none !important;

}
::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--focused{
    border:2px solid orangered !important
}
::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
    height: 50px;
}


*, ::before, ::after {
    border-style: none;
  }
  .single-chart{
    flex: 1 1 150px;
     box-sizing: border-box; margin-bottom:
      20px; max-height: 150px; min-height: 150px;

  }
  :root {
    --red-500: #ff0000;
    --green-500: #00ff00;
    --yellow-500: #ffff00;
    --bluegray-500: #808080;
    --blue-500: #0000ff;
}
.labels{
    font-size: 70px;
}