
.mat-dialog-title {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
}

.mat-dialog-content {
  margin-top: 20px;
  padding: 50px;
}

mat-form-field {
  width: 100%;
  // margin-bottom: 20px;
}

input.mat-input,
textarea.mat-input {
  width: 100%;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button.mat-button {
  margin-right: 10px;
}

button.mat-button[color="primary"] {
  background-color: #007bff; 
  color: #fff;
}

button.mat-button[color="primary"]:hover {
  background-color: #0056b3; 
}

button.mat-button:disabled {
  opacity: 0.5; 
  cursor: not-allowed; 
}

