<div class="container mx-3">
  <header>
    <h1>
      <span>Hey there,</span>
      here is a resume of Where
      <!-- name of vendor -->
      <span>Eman fashion </span>
      is at
    </h1>
  </header>
  <section >
    <mat-card class="example-card w-1/4 ">
      <mat-card-header>
        <mat-card-title class="mx-auto ">Available Products(0)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="h-14  my-2">
          List products to start selling on Jumia
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="bg-gray-100 text-green-400
            
             px-10 mx-auto  py-2 font-bold w-full my-2 rounded-md">CREATE PRODUCTS </button>
      </mat-card-actions>
    </mat-card>

  </section>
  <!-- main content of page -->
  <section class="w-full flex">

    <!-- left -->
    <aside class="w-3/5 ">
      <header class="flex justify-between w-full items-center my-4">
        <b class="text-md">Business metrics</b>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option  selected>7 Days</mat-chip-option>
          <mat-chip-option >30 Days</mat-chip-option>
          <mat-chip-option  >90 Days</mat-chip-option>

        </mat-chip-listbox>
        <!-- <div class="selectDays">
          <button class="btn-selected bg-gray-200 mx-2 rounded-lg px-2" >7 Days</button>
          <button class="btn-selected bg-gray-200 mx-2 rounded-lg px-2" > 30 Days</button>
          <button class="btn-selected bg-gray-200 mx-2 rounded-lg px-2" > 90 Days</button>


        </div> -->

      </header>
      <!-- cards -->
        <app-rating></app-rating>

      
    </aside>
    <!-- right -->
    <aside class="w-2/5 px-3 mx-2">
      <h1>Learn how to do</h1>
      <!--  -->
      <mat-card class="example-card mb-5 ">
        <mat-card-header>
          <mat-card-title class="mx-auto ">Create new product </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="  py-2">
            How to add a product which does not exist on Jumia
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a target="_blank"
           href="https://vendorhub.jumia.com.eg/en/vc-add-product-one-by-one-2/" class="bt-col 
  
          px-10 mx-auto font-bold py-4 text-sm tracking-wide w-full my-2 rounded-md text-center">
          SEE TUTORIAL
  </a>
        </mat-card-actions>
      </mat-card>
      <!--  -->
      <mat-card class="example-card mb-5 ">
        <mat-card-header>
          <mat-card-title class="mx-auto ">Raise a claim
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class=" py-2">
            Contact support team if you have issues </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://forms-prod2.sprinklr.com/guided-workflows/64351818df46305b9c8ba24e?gwId=644aff4e4e9d9f2676f2c61e&viewType=FULL_PAGE"
          target="_blank"
          class="bt-col text-center
  
    px-10 mx-auto font-bold py-4 text-sm tracking-wide w-full my-2 rounded-md">REQUSTED HERE </a>
        </mat-card-actions>
      </mat-card>
      <!--
 -->
      <mat-card class="example-card  mb-5">
        <mat-card-header>
          <mat-card-title class="mx-auto ">Fulfillment by Jumia
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class=" py-2">
            All there is to know about Jumia Express </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://vendorhub.jumia.com.eg/en/je-vc/" target="_blank"
          class="bt-col text-center
  
    px-10 mx-auto font-bold py-4 text-sm tracking-wide w-full my-2 rounded-md">SEE TUTORIAL</a>
        </mat-card-actions>
      </mat-card>
      <!--  -->
      <mat-card class="example-card  mb-5">
        <mat-card-header>
          <mat-card-title class="mx-auto ">Improve your rating
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="py-2">
            All there is to know on seller score </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://vendorhub.jumia.com.eg/seller-score-2020/" target="_blank" class="bt-col text-center
  
    px-10 mx-auto font-bold py-4 text-sm tracking-wide w-full my-2 rounded-md">SEE TUTORIAL</a>
        </mat-card-actions>
      </mat-card>
    </aside>
  </section>

</div>