/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    // --background-body: #898585;
    --background-body: #41b7ee;
    --background-card: #8ecae6;
    --background-sidebar: #282222;

    --primary-color: #219ebc;
    --primary-color-light: #fff;
    --secondary-color: #023047;
    --secondary-color-light: #c8c8c8;

    --text-color-light: #fff;
    --text-color-dark: #000;

    --button-color: #37415a;
    --button-hover: #102458;
    
        --red-500: #ff0000;
        --green-500: #00ff00;
        --green-400: #00ff00;

        --yellow-500: #ffff00;
        --yellow-400: #ffff00;

        --bluegray-500: #808080;
        --orange-500: #FFA500;
        --orange-400: #FFA400;
        --surface-border: #999999;
        

    

    // --font-family: Arial, sans-serif;

    
}


.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary{
    background-color:orange !important;
}

html, body {
    background-color: var(--background-body);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
    // overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;

}
*, ::before, ::after {
    border-style: none;
  }


